.header {
    padding: 10px;
    margin: 0px;
    border: 3px;
    background-color: black;
    color:white;
    word-spacing: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headertwo {
    padding: 6px;
    margin: 0;
    border: 5px;
    background-color: #FFF596;
    outline-style: solid;
    outline-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ten {
   border: 2px solid black;
   background-color: white;
   color: black;
   padding: 3px 3px;
   font-size: 14px;
   cursor: pointer;
   margin-right: 3px;
   margin-left: 3px;
}

.headerthree {
    padding: 20px;
    margin: 0;
    border: 5px;
    background-color: #004878;
    color: white;
    font-size: 30px;
}

.anthony {
    padding: 3px;
    padding-left: 200px;
    margin: 0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}

#indent {
    text-indent: 135px;
}

#bull {
    display: block;
    width: 60px;
    background-color: white;
}

#nophoto {
    background-color:lightgray;
    width: 160px;
    height: 200.41px;
    margin-top: -220px;
    margin-left: 10px;
    border: 1px solid black;
}

.local {
    line-height: 0.5;
    margin-left: 3px;
}

#profile {
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#send {
   border: 2px solid black;
   background-color: white;
   color: black;
   padding: 3px 3px;
   font-size: 14px;
   cursor: pointer;
}

#dig {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.format {
    padding: 10px;
    border: 3px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 500px;
}

.post {
    border: 1px solid black;
    background-color: white;
    padding-right: 100px;
    text-align: left;
    font-size: 12px;
    padding: 25px
}

.follow {
    margin-top: -100px;
    background-color: lightgray;
    border: 1px solid black;
    margin-left: 950px;
    margin-right: 315px;
}

.zero {
    margin-left: 950px;
    line-height: 0.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
}

li {
    display: inline;
}
